<h1>Users#show</h1>
<h6>I'm in app/views/users/show.html.erb</h6>

<p> This is the user profile with the object and some details. </p>
<br>
Current User: <%= @user %>
<br>
Email: <%= @user.email %>
<br>
Name: <%= @user.name %>
<br>
Confirmed on :<%= @user.confirmed_at %>
<br>
<br>


<% if current_user %>
     <div class="col-md-8">
         <div class='js-items'>
             <%= render "items/items" %>
         </div>
         <div class='new-item'>
             <%= render "items/form", item: Item.new %>
         </div>
     </div>
 <% end %>
