<h1> User profile's object and details. </h1>
<br>
Current User: <%= @item.user %>
<br>
Email: <%= @item.user.email %>
<br>
Name: <%= @item.user.name %>
<br>
Confirmed on :<%= @item.user.confirmed_at %>
<br>
<br>

<h2> Items </h2>

<% if current_user %>
     <div class="col-md-8">
         <div class='js-items'>
             <%= render "items/items" %>
         </div>
         <div class='new-item'>
             <%= render "items/form", item: Item.new %>
         </div>
     </div>
 <% end %>

 <h6>I'm in app/views/users/show.html.erb</h6>
